body{
    margin: 0;
}

.main-page{
    background-image: url(ironman3.jpg);
    background-position: center;
    background-size:100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}
.navigation{
    display: flex;
}

.logo{
    color: rgb(230, 149, 0);
    margin-left: 80px;
    margin-top: 10px;
    font-size: 15px;
}
.links{
    margin-top: 20px;
    width: 80%;
    text-align:right;
    margin-right: 230px;
    padding: 10px;
}
.link-btn{
    text-decoration: none;
    padding: 0 25px;
    font-weight: 600;
    color: white;
    transition: 0.3s;
}
.link-btn:hover{
    color: black;
    background-color: whitesmoke;
    border-radius: 10px;
}
.subscribe-link{
    position: right;
    margin-top: 30px;
    margin-right: 20px;
}
#subscribe-btn{
    font-weight: 600;
    text-decoration: none;
    color: white;
    background-color: #b40303;
    padding: 10px;
    border-radius: 4px;
    transition: 0.5s;
}
#subscribe-btn:hover{
    background-color: white;
    color: #b40303;
    zoom: 1.2;
}
.intro{
    margin-left: 80px;
    margin-top: 150px;
}
.intro h3{
    color: gray;
    margin: 0;
    padding:0;
}
#star-name{
    color: white;
    margin: 0;
    padding:0;
}

.intro h1{
    color: white;
    font-weight: 700;
    font-size: 50px;
    margin: 0;
    padding:0;
}

.half-logo, .last-name{
    color: #b40303;
}
.search-menu{
    margin-left: 80px;
    margin-top: 30px;
}
#search-bar{
    padding: 6px 30px;
    border-radius: 5px;

}
#search-btn{
    font-weight: 600;
    text-decoration: none;
    color: white;
    background-color: #b40303;
    padding: 6px 10px;
    border-radius: 4px;
    transition: 0.5s;
}
#search-btn:hover{
    background-color: white;
    color: #b40303;
    zoom: 1.2;
}
.bottom-line{
    margin-left: 80px;
    margin-top: 140px;
}
.message{
    padding-right: 50px;
    color: white;
    font-size: 1.2em;
}
.social-media{
    padding: 20px;
    font-size: 1.7em;
}
.social-media a{
    text-decoration: none;
    color: white;
    background-color: rgba(24, 22, 22, 0.842);
    padding-right: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
}
.social-media a:hover{
    zoom: 1.2;
}
